extends layout

block content
  h2 Data Viusalization of Titanic Dataset
  p This data visualization shows how the survival rate relates to the age, sex and passenger class of a passenger.
  div.container-fluid
    div#narrative-panel.panel.panel-info.hidden
      div.panel-heading
        div.row
          div#narrative.col-md-12
            div#narrative-0
              strong Hi! Welcome to this data visualization of Titanic Data
            div#narrative-1
              strong We first look at the relationship between the age range of passengers and the survival rate.
            div#narrative-2
              strong The age information of #[span.rows-of-age-data] passengers (out of the total #[span.rows-of-dataset] passengers) are available in the dataset.
            div#narrative-3
              strong We will be able to see how survival rate changes with varying age range selection out of these #[span.rows-of-age-data] records.
            div#narrative-4
              strong The selection first starts with 0, and gradually increases up to the maximum recorded age.
            div#narrative-5
              strong We can see the survival age of passengers below 10 is pretty high. It is always above 60%.
            div#narrative-6
              strong The selection now slowly increases up to the maximum age. Notice how the survival rate changes with the expanding selection.
            div#narrative-7
              strong Since the selection includes age 10 onwards, the survival rate has never been more than 60%.
            div#narrative-8
              strong We can see the overall trend is that, as the upper bound of the selection increases with age, survival rate decreases.
            div#narrative-9
              strong We can see the overall trend is that, as the upper bound of the selection increases with age, survival rate decreases.
            div#narrative-10
              strong Let's go back to the whole set of data. Next, we will see which sex group has the highest survival rate.
            div#narrative-11
              strong First, only the data of male passengers are selected.
            div#narrative-12
              strong Then, only the data of female passengers are selected.
            div#narrative-13
              strong It is obvious that the survival rate of female passengers is much higher than that of male passengers.
            div#narrative-14
              strong Finally, we are going to explore which passenger class has the highest survival rate.
            div#narrative-15
              strong First, only the data of passengers in lower class are selected.
            div#narrative-16
              strong Then, only the data of passengers in middle class are selected.
            div#narrative-17
              strong Lastly, only the data of passengers in upper class are selected.
            div#narrative-18
              strong It is obvious that the survival rate of passengers in upper class is much higher than those of other 2 classes.
            div#narrative-19
              strong We have finished watching the visualization of how survival rate changes with each of the three passengers' attributes.
            div#narrative-20
              strong You can now freely use the brush or click on the class label to explore the data in different combination of selection. Thanks for watching.

    div.row
      div#survival-focus.col-md-12
        div.header-text
          h4 Survival statistics of Titanic passengers
        div#survival.inline-block-align-top
        div#survival-ratio.inline-block-align-top
    div#current-data-selection.panel.panel-default
      div.panel-heading
        div Current data selection
      div.panel-body
        div.row
          div.col-md-2.col-sm-6 No. of samples:&nbsp;
            strong #[span.current-rows-of-dataset]
          div.col-md-4.col-sm-6 Age Range:&nbsp;
            strong #[span.hidden.age-range #[span.lower-age] (inclusive) to #[span.upper-age] (exclusive)] #[span.age-not-restricted-label Not Restricted]
          div.col-md-3.col-sm-6 Sex:&nbsp;
            strong #[span.hidden.selected-sex-label #[span.selected-male-label Male] #[span.selected-female-label Female]] #[span.sex-not-restricted-label Not Restricted]
          div.col-md-3.col-sm-6 Passenger Class:
            strong #[span#selected-pclass-label.hidden #[span.selected-lower-label Lower] #[span.selected-middle-label Middle] #[span.selected-upper-label Upper]] #[span.pclass-not-restricted-label Not Restricted]
    div.row
      div.col-md-12
        div
          h4 A histogram of the distribution of ages of the passengers
          div#brush-help-text.hidden
            div Select an area on the histogram to filter the data and see the effect.
            div (Note: Once the data is filtered by an age range, the data will not include all the passenger whose ages are unknown in the source data.)
        div#age-chart
    div.row
      div.col-md-12
        div.inline-block-align-top
          div
            h4 The ratio of the sex of passengers
          div#sex-chart
        div.inline-block-align-top
          div
            h4 A bar chart of the passenger class of passengers
          div#pclass-chart

    div.row
      div.col-md-12
        div.inline-block-align-top
          div#stacked-age-chart
    div.row
      div.col-md-12
        div.inline-block-align-top
          div
            h4 The ratio of the sex of passengers
          div#stacked-sex-chart
        div.inline-block-align-top
          div
            h4 A bar chart of the passenger class of passengers
          div#stacked-pclass-chart

  script(src='js/babel-polyfill/polyfill.min.js')
  script(src='js/jquery/jquery.js')
  script(src='js/d3/d3.js')
  script(src='js/webapp.js')
