extends layout

block content
  h2 Data Viusalization of Titanic Dataset
  p This data visualization shows how the survival rate relates to the age, sex and passenger class of a passenger.
  div.container-fluid
    div#narrative-panel.panel.panel-info.hidden
      div.panel-heading
        div.row
          div#narrative.col-md-12
            div#narrative-0
              strong Hi! Welcome to this data visualization of Titanic Data
            div#narrative-1
              strong We first look at the relationship between the age range of passengers and the survival rate.
            div#narrative-2
              strong The age information of #[span.rows-of-age-data] passengers (out of the total #[span.rows-of-dataset] passengers) are available in the dataset.
            div#narrative-3
              strong We will be able to see how survival rate changes with varying age range selection out of these #[span.rows-of-age-data] records.
            div#narrative-4
              strong The selection first starts with 0, and gradually increases up to the maximum recorded age.
            div#narrative-5
              strong We can see the survival age of passengers below 10 is pretty high. It is always above 60%.
            div#narrative-6
              strong The selection now slowly increases up to the maximum age. Notice how the survival rate changes with the expanding selection.
            div#narrative-7
              strong Since the selection includes age 10 onwards, the survival rate has never been more than 60%.
            div#narrative-8
              strong Thank you for watching the visualization. You can now use the brush on the age chart to do your own exploration.
    div.panel.panel-default
      div.panel-heading
        div Current data selection
      div.panel-body
        div.row
          div.col-md-2.col-sm-6 No. of samples: #[span.current-rows-of-dataset]
          div.col-md-4.col-sm-6 Age Range: #[span.hidden.age-range #[span.lower-age] (inclusive) to #[span.upper-age] (exclusive)] #[span.age-not-restricted-label Not Restricted]
          div.col-md-3.col-sm-6 Sex: #[span.hidden.selected-sex-label [span.selected-male-label Male] #[span.selected-female-label Female]] #[span.sex-not-restricted-label Not Restricted]
          div.col-md-3.col-sm-6 Passenger Class: #[span.hidden.selected-pclass-label #[span.selected-lower-label Lower] #[span.selected-middle-label Middle] #[span.selected-upper-label Upper]] #[span.pclass-not-restricted-label Not Restricted]
    div.row
      div#survival-focus.col-md-12
        div.header-text
          h4 A bar chart of survived and perished passengers
        div#survival.inline-block-align-top
        div#survival-ratio.inline-block-align-top
    div.row
      div.col-md-12
        div
          h4 A histogram of the distribution of ages of the passengers
          div#brush-help-text.hidden
            div Select an area on the histogram to filter the data and see the effect.
            div (Note: Once the data is filtered by an age range, the data will not include all the passenger whose ages are unknown in the source data.)
        div#age-chart
    div.row
      div.col-md-12
        div.inline-block-align-top
          div
            h4 The ratio of the sex of passengers
          div#sex-chart
        div.inline-block-align-top
          div
            h4 A bar chart of the passenger class of passengers
          div#pclass-chart

  script(src='/js/babel-polyfill/polyfill.min.js')
  script(src='/js/jquery/jquery.js')
  script(src='/js/d3/d3.js')
  script(src='/js/webapp.js')
