extends layout

block content
  h1 Data Viusalization of Titanic Dataset
  p This data visualization shows how the survival rate relates to the age, sex and passenger class of a passenger.
  div.container-fluid
    div.row
      div#survival-focus.col-md-12
        div
          h4 A bar chart of survived and perished passengers
        div#survival
        div#survival-ratio
    div.row
      div.col-md-12
        div
          h4 A histogram of the distribution of ages of the passengers
          div Select an area on the histogram to filter the data and see the effect.
          div (Note: Once the data is filtered by an age range, the data will not include all the passenger whose ages are unknown in the source data.)
        div#age-chart
    div.row
      div.col-md-7.col-sm-6
        div
          h4 The ratio of the sex of passengers
        div#sex-chart
      div.col-md-5.col-sm-6
        div
          h4 A bar chart of the passenger class of passengers
        div#pclass-chart

  script(src='/js/babel-polyfill/polyfill.min.js')
  script(src='/js/jquery/jquery.js')
  script(src='/js/d3/d3.js')
  script(src='/js/webapp.js')
